/*Chloe Gao
/*IntroCS pd5 sec8
/*HW05 -- Stuylin'
/*2021-02-10

  
h1 {
    text-align: center;
    font: bold 36px cursive;
}

img {
    width: 50em;
    display: block;
    margin: 0 auto;
}

ul, li {
    font: 16px courier;
}

p {
    font: italic 1.2em "Fira Sans", serif;
}

html {
    background-color:  #e0ffff;
}
